/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(../fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* Общие стили для всего приложения */

body {
  background: #031b34;
  padding: 0 2rem;
}

body.oh {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

b {
  color: #0E0E0E;
  text-decoration: none;
  cursor: pointer;
}

b {
  color: #0E0E0E;
  text-decoration: none;
  cursor: pointer;
}

a,
b,
h5,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

a:hover,
b:hover,
h5:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 24px;
}

h4 {
  font-family: "Manrope", sans-serif;
  color: #000;
  font-size: 24px;

}

h5 {
  font-family: "ManropeLight", sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  opacity: 70%;
}

h6 {
  font-family: "ManropeLight", sans-serif;
  color: #fff;
  font-size: 14px;
}

h7 {
  font-family: "Manrope", sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  opacity: 70%;
}

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

.black-btn {
  padding: 15px 63px;
  background-color: #000;
  border-radius: 40px;
}


.section {
  max-width: 1169px;
  width: 100%;
}

.lined_header {
  background: url("../assets/img/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

.buttom_header {
  background: url("../assets/img/rectangle 26.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

/* Стили для Шапки */

.header {
  display: flex;
  max-width: 1169px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #031b34;
}

.header .header-logo {
  width: 162px;
}

.header .header__logo .logo__link {
  /* вместо header-logo */
  display: flex;
  align-items: center;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header .header__right.hidden {
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  visibility: hidden;
}

.header .header__right .menu__close {
  width: 38px;
  height: 38px;
}

.header .header__right .menu__close.hidden {
  display: none;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .header__burger_menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}

.header .header__burger_menu.hidden {
  display: none;
}

.header .header__burger_menu .burger_menu__line,
.header .header__right .menu__close .menu__line {
  width: 43px;
  height: 5px;
  border-radius: 2px;
  background: #fff;
}

.header .header__right .menu__close .menu__line:nth-child(1) {
  position: relative;
  top: 15px;
  right: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.header .header__right .menu__close .menu__line:nth-child(2) {
  position: relative;
  top: 10px;
  right: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */

.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  /*min-height: 60vh; */
  margin: 14rem 0 3rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 75%;
}

.hero_section .hero_section__left .left__description {
  color: #81afdd;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__right {
  height: 100%;
}

.hero_section .hero_section__right img {
  width: 100%;
}

/* Секция брендов */

.brands_section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0 0 6rem 0;
  column-gap: 3rem;
}

/* Что такое Chat GPT */

.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(../assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
  column-gap: 3rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  font-size: 14px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container .container__content {
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8;
}

/* Будущее наступило */

.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

/* .future_here .future_here__left .left__header {
} */

.future_here .future_here__left .left__cta {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
}

.future_here .future_here__right .right__container .container__content {
  width: 55%;
  color: #81afdd;
}

@media screen and (max-width: 2560px) {
  .exceeding_all_expectations .exceeding_all_expectations__right {
    margin-top: 17.5rem;
  }

  .step_into_the_future {
    margin: 10rem 0 0px;
  }

  .step_into_the_future .step_into_the_future__basement {
    column-gap: 2rem;
  }

}

@media screen and (max-width: 2560px) {

  .blog_of_news .blog_of_news_5containers {
    display: flex;
    flex-direction: row;
    column-count: 2;
    column-gap: 48px;
    margin-top: 115.79px;
    width: 100%;
    height: 695.21px;
  }

  .exceeding_all_expectations .exceeding_all_expectations__right {
    margin-top: 17.5rem;
  }
}

@media screen and (max-width: 1440px) {
  .blog_of_news .blog_of_news_5containers {
    display: flex;
    flex-direction: row;
    column-count: 2;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 1024px) {
  .page {
    align-content: center;
  }

  .header {
    padding: 2rem;
    flex-direction: column;
  }

  .header .header__logo .logo__link img {
    width: 200%;
  }

  .header .header__right {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 53px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #031b34;
  }

  .header .header__menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header .header__menu .menu {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .header .header__menu .menu__close {
    position: absolute;
    right: -100px;
    top: -100px;
  }

  .header .header__menu .menu .menu__item a {
    font-size: 48px;
  }

  .hero_section {
    flex-direction: column;
    justify-content: center;
    column-gap: 0;
    /* margin: 0; */
    width: 90%;
  }

  .hero_section .hero_section__left {
    width: 100%;
    text-align: center;
  }

  .hero_section .hero_section__right {
    display: flex;
    justify-content: center;
  }

  .hero_section .hero_section__right img {
    width: 60%;
  }

  .hero_section .hero_section__left .left__cta_buttons {
    justify-content: center;
  }

  .what_is_chatgpt_section {
    row-gap: 4rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle {
    flex-direction: column;
    row-gap: 1rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
    row-gap: 0;
  }

  .future_here {
    column-gap: 0;
    flex-direction: column;
    row-gap: 4rem;
  }

  .future_here .future_here__left {
    row-gap: 1rem;
  }

  .exceeding_all_expectations {
    flex-direction: column;
    justify-content: center;
    column-gap: 0;
    width: 90%;

  }

  .exceeding_all_expectations .exceeding_all_expectations__right {
    margin-top: 2rem;
  }

  .exceeding_all__xpectations__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .step_into_the_future {
    margin: 9rem 0 0px;
  }


  .blog_of_news .blog_of_news_5containers {
    display: flex;
    flex-direction: column;
    column-count: 2;
    column-gap: normal;
    width: 100%;
    height: 100%;
    margin-bottom: auto;
  }
}

.exceeding_all_expectations {
  flex-direction: column;
  justify-content: center;
  column-gap: 0;
  width: 90%;

}

.exceeding_all_expectations .exceeding_all_expectations__right {
  margin-top: 2rem;
}




@media screen and (max-width: 768px) {
  p {
    font-size: 14px;
    line-height: 1.5;
  }

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 19px;
  }

  .hero_section {
    width: 100%;
  }

  .brands_section {
    margin-top: -15px;
    padding-bottom: 0;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__top {
    flex-direction: column;
  }

  .hero_section .hero_section__right img {
    width: 85%;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
    width: auto;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    flex-direction: column;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    row-gap: 2rem;
  }

  .what_is_chatgpt_section {
    row-gap: 3rem;
  }

  .what_is_chatgpt_section {
    margin: 6rem 0 0;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container .container__content {
    line-height: 1.5;
  }

  .step_into_the_future .step_into_the_future__basement {
    column-gap: 1rem;
  }



  .blog_of_news .blog_of_news_5containers {
    display: flex;
    flex-direction: column;
    column-count: 2;
    column-gap: normal;
    width: 100%;
    margin-bottom: auto;
  }
}



@media screen and (max-width: 765px) {
  a {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 19px;
  }

  .hero_section .hero_section__left .left__cta_buttons input[type="text"] {
    min-width: auto;
  }

  .future_here {
    row-gap: 3rem;
  }

  .future_here .future_here__right .right__container {
    flex-direction: column;
  }

  .future_here .future_here__right .right__container .container__header {
    width: 100%;
  }

  .future_here .future_here__right .right__container .container__content {
    width: 100%;
  }

  .future_here .future_here__right {
    row-gap: 2rem;
  }

  .blog_of_news .blog_of_news_5containers {
    display: flex;
    flex-direction: column;
    column-count: 2;
    column-gap: normal;
    width: 100%;
    margin-bottom: auto;
  }
}







.step_into_the_future {
  margin: 5rem 0 0px;
}









.step_into_the_future {
  margin: 5rem 0 0px;
}



/*Превосходя все ожидания*/


.exceeding_all_expectations {
  display: flex;
  column-gap: 2rem;
  margin: 0 0 2rem;
}

.exceeding_all_expectations .exceeding_all_expectations__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

.exceeding_all_expectations .exceeding_all_expectations__right .container__right {
  color: #81afdd;
  font-size: 16px;
  line-height: 1.8;
}


.exceeding_all_expectations .exceeding_all_expectations__right .cta__right {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.exceeding_all_expectations .exceeding_all_expectations__right a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


/*Шагнуть в Будущее*/

.step_into_the_future {
  display: flex;
  flex-direction: column;
}

.step_into_the_future .step_into_the_futur__heading__middle {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;
}

.step_into_the_future .step_into_the_futur__button__middle {
  display: flex;
  align-items: flex-start;
  margin: 0 auto 180px;
  margin-top: 4rem;
  justify-content: space-between;
}

.btn_itf {
  display: flex;
  font-family: "ManropeLight", sans-serif;
  color: #fff;
  opacity: 70%;
  font-size: 18px;
  padding: 1rem 2rem;
  background-color: transparent;
  background-color: #031B34;
  border: 1px solid #fff;
}

.btn_itf:hover {
  display: flex;
  font-family: "ManropeLight", sans-serif;
  color: #fff;
  opacity: 100%;
  font-size: 18px;
  padding: 1rem 2rem;
  background-color: transparent;
  background-color: #ae67fa;
  border: 1px solid #fff;
}

.step_into_the_future .step_into_the_future__basement h5 {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.step_into_the_future .step_into_the_future__basement h5:hover {
  opacity: 100%;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.step_into_the_future .step_into_the_future__logo {
  left: -40;
  flex: 288px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.step_into_the_future .step_into_the_future__basement {
  display: flex;
}


.step_into_the_future .step_into_the_future_address {
  white-space: pre-line;
}

.step_into_the_future .step_into_the_future_links {
  flex: 180px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.step_into_the_future .indoor_unit_links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.step_into_the_future .step_into_the_future_company {
  flex: 141px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.step_into_the_future .indoor_unit_company {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.step_into_the_future .step_into_the_future_contacts {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.step_into_the_future .indoor_unit_contacts {
  flex: 180px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.step_into_the_future .address {
  white-space: pre-line;
}

/* Копирайт */

.foolder {
  display: flex;
  margin: 1rem 0 0px;
}

.foolder .copyright {
  background-color: #040C18;
  text-align: center;
  overflow: auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

/*Многое происходит, Мы Ведем об Этом Блог.*/

.blog_of_news {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
}


.blog_of_news .blog_of_news_text {
  white-space: pre-line;
}


/*1 контейнер*/

.blog_of_news_5containers_1newscontainer {
  width: 418.2px;
  height: 695.21px;
}

.blog_of_news_5containers_1newstextonground {
  display: flex;
  flex-direction: column;
}


.blog_of_news_5containers_1newstextonground_top {
  margin: 32.27px 0px 0px 25.49px;
}


.blog_of_news_5containers_1newstextonground_middle {
  margin: 0.25px 0px 0px 25.63px;
}


.blog_of_news_5containers_1newstextonground_bottom {
  margin: 186.64px 0px 0px 25.49px;
}

/*группа*/

.blog_of_news_5containers_group {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
}


/*2 контейнер*/

.blog_of_news_5containers_2newscontainer {
  width: 70%;
  height: 50%;
}


.blog_of_news_5containers_2newstextonground {
  width: 284.32px;
  height: 173px;
}

/*3 контейнер*/

.blog_of_news_5containers_3newscontainer {
  width: 70%;
  height: 50%;
}

.blog_of_news_5containers_3newstextonground {
  width: 284.32px;
  height: 173px;
}

/*4 контейнер*/

.blog_of_news_5containers_4newscontainer {
  width: 70%;
  height: 50%;
}

.blog_of_news_5containers_4newstextonground {
  width: 284.32px;
  height: 173px;
}

/*5 контейнер*/

.blog_of_news_5containers_5newscontainer {
  width: 70%;
  height: 50%;
}

.blog_of_news_5containers_5newstextonground {
  display: flex;
  flex-direction: column;
  width: 284.32px;
  height: 173px;
}


.bigground {
  background: url("../assets/img/bignewsground.svg");
}


.smallground {
  background: url("../assets/img/smallnewsground.svg");
}

/*Зарегистрируйтесь и начните исследовать безграничные возможности.*/
.registration_panel {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  margin: 154px 0;
  padding: 35px;
}

.registration_panel .registration_panel_center .left__cta {
  padding: 0;
  font-size: 12px;
}


/* Медиа запросы для адаптива */

@media screen and (max-width: 1440px) {
  .registration_panel {
    flex-direction: column;
    column-gap: 0;
    row-gap: 1rem;
    margin: 10rem;
    padding: 1rem;
    align-items: center;
  }

  .buttom_header {
    background-size: cover;
  }

}